@media screen and (max-width: 500px) {
  
    .navbar {
      padding: 10px;
    }
  
    .navbar a {
      font-size: 20px;
    }
  
    .addNewtask {
      display: none;
    }
  
    .newtask {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .mainContainer {
      padding: 5px 10px;
      margin: 0px;
      font-size: 20px;
    }
  
    .cardContainer {
      width: 100%;
      margin: 10px auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  
    .cards {
      border-radius: 5px;
      width: 100vw;
      height: 160px;
      background: white;
      border: 2px solid wheat;
      margin: 5px;
      text-align: center;
    }
  
    .page2 {
      width: 100%;
      height: 1000px;
      position: absolute;
      background: rgba(79, 79, 79, 0.25);
      backdrop-filter: blur(4px);
      top: 0%;
      left: 0%;
    }
  
    .popup1 {
      background: rgb(255, 255, 255);
      width: 330px;
      height: 200px;
      margin-top: 50%;
      text-align: center;
      padding: 5px 10px;
    }
  
  
    .page3Options {
      width: 100%;
    } 
  
    .page3-cards {
      width: 100%;
    }
      
    .hidden {
      display: hidden;
    }
  
    .page4{
      width: 100%;
      font-size: 20px;
      border-radius: 10px;
      box-shadow: 2px 3px 10px rgba(128, 128, 128, 0.296);
    }
  
    .popup1 {
      width: 95%;
    }
  
    .popup2 {
      width: 95%;
      position: relative;
      top: 20%;
    }
  
  }
  
  @media only screen and (min-width: 501px) and (max-width:1030px){
             .addNewtask{
              display: none;
             }
             .cards{
              flex-grow: 1;
            }
  
             .plusSign{
              padding-inline: 60px;
              border-radius: 20px;
             }
  
             .newtask{
              display: flex;
              justify-content: center;
              align-items: center;
             }
  
             .page2 {
              width: 100%;
              height: 1300px;
              position: absolute;
              background: rgba(79, 79, 79, 0.25);
              backdrop-filter: blur(4px);
              top: 0%;
              left: 0%;
            }
  
            .page4 {
              width: 100%;
              height: 1000px;
              position: absolute;
              background: rgba(79, 79, 79, 0.25);
              backdrop-filter: blur(4px);
              top: 0%;
              left: 0%;
            }
  }
  
  @media screen and (max-width:1030px){
  
  }